@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* 
 * Color palette: Brown, Pink
 */
@theme {
  --color-brand-brown-50: oklch(0.969 0.0025 345.21);
  --color-brand-brown-100: oklch(0.9079 0.0056 3.35);
  --color-brand-brown-200: oklch(0.8437 0.0104 2.04);
  --color-brand-brown-300: oklch(0.7816 0.0154 1.67);
  --color-brand-brown-400: oklch(0.7172 0.0192 4.73);
  --color-brand-brown-500: oklch(57.205% 0.02972 3.29);
  --color-brand-brown-600: oklch(0.5169 0.0264 4.54);
  --color-brand-brown-700: oklch(0.4487 0.0221 1.22);
  --color-brand-brown-800: oklch(0.3074 0.0133 10.3);
  --color-brand-brown-900: oklch(0.2283 0.008 4.12);

  --color-brand-pink-100: oklch(0.9705 0.0045 360);
  --color-brand-pink-200: oklch(0.9088 0.0148 1.58);
  --color-brand-pink-300: oklch(0.8485 0.0245 1.44);
  --color-brand-pink-400: oklch(0.7872 0.0344 3.89);
  --color-brand-pink-500: oklch(72.873% 0.04517 3.652);
  --color-brand-pink-600: oklch(0.4437 0.0535 3.99);
  --color-brand-pink-700: oklch(0.293 0.0532 5.86);
  --color-brand-pink-800: oklch(0.2324 0.0572 8.48);
  --color-brand-pink-900: oklch(23.237% 0.05716 8.458);
  --color-brand-pink-secondary-500: oklch(0.7784 0.059 149.59);
  --color-brand-pink-secondary-800: oklch(0.2359 0.0277 148.69);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--color-brand);
  --color-accent-foreground: var(--color-brand-500);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: 'Ubuntu', sans-serif;
  --font-title: 'Kreon', sans-serif;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
  from {
    height: 0;
    }
  to {
    height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
  from {
    height: var(--reka-accordion-content-height);
    }
  to {
    height: 0;
    }
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: var(--color-brand-pink-800);
  --card: oklch(1 0 0);
  --card-foreground: var(--color-brand-pink-800);
  --popover: oklch(1 0 0);
  --popover-foreground: var(--color-brand-pink-800);
  --primary: var(--color-brand-pink-800);
  --primary-foreground: var(--color-brand-pink-100);
  --secondary: var(--color-brand-pink-secondary-500);
  --secondary-foreground: var(--color-brand-pink-secondary-800);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--color-brand-pink-400);
  --accent-foreground: var(--color-brand-pink-800);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: var(--color-brand-pink-800);
  --sidebar-primary: var(--color-brand-pink-800);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: var(--color-brand-pink-800);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
