volumes:
  PostgresData:
  RedisData:
  GrafanaStorage:

networks:
  ineiah_network:
    driver: bridge

services:
  ineiah:
    build: ./frontend
    container_name: app_ineiah
    environment:
      - NUXT_REDIS_HOST=redis
      - NUXT_REDIS_PASSWORD=django-local-testing
    labels:
      - traefik.enable=true
      - traefik.http.routers.ineiah.entrypoints=websecure
      - traefik.http.routers.ineiah.rule=Host(`dev-client.gency313.fr`)
      - traefik.http.routers.ineiah.tls=true
      - traefik.http.routers.ineiah.tls.certresolver=staging
      - traefik.http.services.ineiah-service.loadbalancer.server.port=3000
      - traefik.http.routers.ineiah.middlewares=https-redirect
      - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
      - traefik.http.middlewares.https-redirect.redirectscheme.permanent=true
    networks:
      - ineiah_network
