volumes:
  RedisData:

networks:
  ineiah_network:
    driver: bridge
  myprosite_network:
    external: true
    name: myprosite_myprosite_network  

services:
  ineiah:
    build: ./frontend
    container_name: app_ineiah
    environment:
      - NUXT_REDIS_HOST=redis
      - NUXT_REDIS_PASSWORD=django-local-testing
    labels:
      - traefik.enable=true
      - traefik.http.routers.ineiah.entrypoints=websecure
      - traefik.http.routers.ineiah.rule=Host(`dev-client.gency313.fr`)
      - traefik.http.routers.ineiah.tls=true
      - traefik.http.routers.ineiah.tls.certresolver=production
      - traefik.http.services.ineiah-service.loadbalancer.server.port=3000
      - traefik.http.routers.ineiah.middlewares=https-redirect
      - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
      - traefik.http.middlewares.https-redirect.redirectscheme.permanent=true
    # ports:
    #   - 3000:3000
    networks:
      - ineiah_network
      - myprosite_network

  redis_dev_ineiah:
    build: ./docker/redis
    container_name: app_redis_dev_ineiah
    # https://stackoverflow.com/questions/68461172/docker-compose-redis-password-via-environment-variable
    ports:
      - 6379:6000
    restart: always
    volumes:
      - RedisData:/data
      - ~/var/redis_dev_ineiah.log:/data/redis.log:rw
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - ineiah_network
