version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:18.17
    working_directory: ~/ineiah/frontend
    steps:
      - checkout

      # - run:
      #     name: Move to correct subdirectory
      #     command: cd ineiah/frontend && mv * ~/ineiah/frontend || true

      - restore_cache:
          name: Restore pnpm cache
          keys:
            - pnpm-cache-{{ checksum "pnpm-lock.yaml" }}
            - pnpm-cache-

      - run:
          name: Install pnpm
          command: |
            sudo npm install --global corepack@latest
            corepack enable
            corepack prepare pnpm@latest-10 --activate
            pnpm config set store-dir .pnpm-store

      - run:
          name: Install dependencies
          command: pnpm install

      - save_cache:
          name: Save pnpm cache
          key: pnpm-cache-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - .pnpm-store

      - run:
          name: Run tests
          command: pnpm run test

      - run:
          name: Build project
          command: pnpm run build

workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              only: main
