http:
  middlewares:
    my-fail2ban:
      plugin:
        fail2ban:
          allowlist:
            ip: ::1,127.0.0.1
          denylist:
            ip: 192.168.0.0/24  # Adjust this as needed
          rules:
            bantime: 3h
            enabled: "true"
            findtime: 10m
            maxretry: "4"
            statuscode: 400,401,403-499
